<header class="header-fixed mb-5">
<nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" routerLink="/homepage">
        <img src="https://dev.azure.com/trajashekar4230786/18f8717f-0bc0-4857-be3d-1485248f36eb/_apis/git/repositories/327409f9-539a-4929-8784-0f3fb5eb454c/items?path=/myangularresume/src/assets/logo-02-01.png&versionDescriptor%5BversionOptions%5D=0&versionDescriptor%5BversionType%5D=0&versionDescriptor%5Bversion%5D=master&resolveLfs=true&%24format=octetStream&api-version=5.0"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">                
          <li class="nav-item"><a class="nav-link" routerLink="/homepage" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/myresume" routerLinkActive="active" ariaCurrentWhenActive="page">Myresume</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/myprojects" routerLinkActive="active" ariaCurrentWhenActive="page">My Projects</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>

          </ul>
       
      </div>
    </div>
  </nav></header>
  
