<section class="bg-body-tertiary rounded-3 mt-5">
<div class="container">
    <div class="row align-items-center">
        <div class="p-md-0 mb-5 col-md-8 text-white">
            <div class="py-5">
              <h3 class="display-5 fw-bold">{{myname}}</h3>
              <h5 class="mb-3 cap-bg">{{caption}}</h5>
              <p class="col-md-10 fs-5">{{aboutme}}</p>
              <button class="btn btn-primary btn-lg myport" type="button">
                {{mybtn}}
              </button>

             
            </div>
          </div>

          <div class="col-md-4">            
            <div class="profilepic">
              <img src="https://dev.azure.com/trajashekar4230786/18f8717f-0bc0-4857-be3d-1485248f36eb/_apis/git/repositories/327409f9-539a-4929-8784-0f3fb5eb454c/items?path=/myangularresume/src/assets/12.png&versionDescriptor%5BversionOptions%5D=0&versionDescriptor%5BversionType%5D=0&versionDescriptor%5Bversion%5D=master&resolveLfs=true&%24format=octetStream&api-version=5.0" class="w-100"/>
            </div>
          </div>

    </div>

</div>
</section>