<section class="bg-body-tertiary rounded-3">
<div class="container">
    <div class="row">
        <div class="p-0 mb-4 ">
            <div class="container-fluid py-5">
              <h3 class="display-5 fw-bold">{{myname}}</h3>
              <h5 class="mb-3">{{caption}}</h5>
              <p class="col-md-8 fs-5">{{aboutme}}</p>
              <button class="btn btn-primary btn-lg myport" type="button">
                {{mybtn}}
              </button>
            </div>
          </div>

    </div>

</div>
</section>