hr{
    border-top: 4px solid #D51EA0;
    opacity: 9;
}

.skills-icon li{
    list-style-type: none;
    display: flex;
   
   
}

.card-img-top{
    width: 100px !important;
}


.card{
    height: 170px;
    margin-bottom: 20px;
}