<div class="container-fluid">
    <div class="row">
        <div class="my-5 no-margin">
            <div class="p-5 contact-bg bg-body-tertiary">
              <div class="container py-5">
                <h1 class="text-body-emphasis">{{contact}}</h1>
                <p class="col-lg-8 lead">
                    Get in touch with us

                </p>
              </div>
            </div>
          </div>

    </div>

</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <h1>Contact From</h1>
          
              
        </div>

        <div class="col-md-12">            
            <google-map height="500px"
            width="100%"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
</google-map>

    </div>

      
    </div>

</div>

